<div class="grid">
    <div class="col-12 md:col-6 lg:col-3 bg-yellow-700	">
        <div class="card flex justify-content-center">
            <p-card header="La Llama Eterna: El Impacto de Frieren" subheader="" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://external-preview.redd.it/WkUs8_9ib0qr0G1RzRnUFOuu0_oyyOsLyi_yYUocw1Y.jpg?width=1080&crop=smart&auto=webp&s=d3e4d3f36965423fb89a178450f8dcadaebb5ab7" />
                </ng-template>
                <p>
                    El anime de Frieren: Beyond Journey's End ha sido una de las sorpresas más destacadas de la temporada. Su enfoque introspectivo sobre lo que ocurre después de que los héroes derrotan al gran villano ofrece una narrativa fresca. Frieren, la elfa maga, enfrenta la mortalidad de sus antiguos compañeros y explora cómo seguir adelante mientras redescubre el valor de las pequeñas conexiones humanas. Con una animación sublime y una música conmovedora, este anime ha encantado a los fanáticos de las historias melancólicas y contemplativas.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3 bg-blue-700">
        <div class="card flex justify-content-center">
            <p-card header="La Magia y los Problemas de la Vida Cotidiana en Ranma ½" subheader="" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://i.ytimg.com/vi/qCKGaQM7qJE/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLB3mkQVpoSXEY4xabXlovxmVZNPVA" />
                </ng-template>
                <p>
                    Aunque es un clásico, Ranma ½ sigue siendo relevante gracias a sus temáticas de identidad y relaciones familiares. Con su premisa cómica de un chico que se transforma en chica con agua fría, Rumiko Takahashi entregó un balance perfecto entre humor absurdo y lecciones de vida. Este anime es un recordatorio de cómo las series vintage siguen resonando con el público actual, ya sea por nostalgia o por el encanto de su historia atemporal.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3 bg-pink-500">
        <div class="card flex justify-content-center">
            <p-card header="Arcane: La Magia de Piltover y Zaun" subheader="" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgbqMjtAlC3L90bSyeskhHgyZ62Grv-gzylkI540hn4Q51IcPHRIP0E2uOw36zr0Ja01YSOPiR6RIGNSIQP9kVbhQEwGRCA_Gzn3PVwtSJ9viLTJAig60GtSP91IkO0N9qoHHk1AIhC1QK1DwnXXjIsH6dfdAyHkMkj3oK2XtytyjJrSnkUTbApVv08wbyA/s800/re-zero-s3.jpg" />
                </ng-template>
                <p>
                    Inspirada en el universo de League of Legends, Arcane mezcla una trama profunda, un diseño visual deslumbrante y una exploración seria de temas como desigualdad social y traición. Jinx y Vi, dos hermanas separadas por un mundo lleno de conflictos, son el corazón de esta historia. La segunda temporada promete expandir este rico universo, dejando a los fans ansiosos por saber qué les espera a sus personajes favoritos.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3 bg-indigo-600">
        <div class="card flex justify-content-center">
            <p-card header="One Piece: Un Viaje que Nunca Termina" subheader="" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://sm.ign.com/ign_es/gallery/a/arcane-sea/arcane-season-2-september-2024-trailer-stills_wt68.jpg" />
                </ng-template>
                <p>
                    La adaptación live-action de Netflix ha renovado el interés por el interminable viaje de Luffy y los Sombrero de Paja. Si bien One Piece lleva décadas entreteniendo al público, esta versión trae consigo un enfoque accesible para nuevos espectadores. Por otro lado, el anime original sigue evolucionando, culminando arcos memorables y preparando el terreno para grandes revelaciones en su emocionante viaje hacia el One Piece.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3 bg-teal-500">
        <div class="card flex justify-content-center">
            <p-card header="Aventuras Postapocalípticas con Attack on Titan" subheader="" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://cdn.eldestapeweb.com/eldestape/032023/1680121468628.webp?cw=770&ch=440&extw=jpg" />
                </ng-template>
                <p>
                    La parte final de la temporada de Attack on Titan ha llegado con momentos desgarradores y combates épicos. La historia de Eren Jaeger nos hace reflexionar sobre los límites de la venganza y el sacrificio. Con su animación impecable y diálogos profundos, esta conclusión promete cerrar uno de los capítulos más icónicos del anime moderno.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3 bg-gray-900">
        <div class="card flex justify-content-center">
            <p-card header=" La Risa Regresa con Spy x Family" subheader="" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://www.mundodeportivo.com/alfabeta/hero/2024/10/frieren.jpg?width=768&aspect_ratio=16:9&format=nowebp" />
                </ng-template>
                <p>
                    La segunda temporada de Spy x Family retoma las travesuras de Anya, Loid y Yor con más momentos hilarantes y entrañables. La dinámica familiar entre un espía, una asesina y una niña telépata sigue siendo tan fresca como en su debut. El equilibrio entre acción, comedia y calidez familiar asegura que esta serie mantenga su lugar en el corazón de los fans.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3 bg-red-600">
        <div class="card flex justify-content-center">
            <p-card header="Blue Lock: La Pasión y el Ego en el Fútbol" subheader="" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://sugoicast.com/wp-content/uploads/2024/04/frieren-resena-anime.jpg" />
                </ng-template>
                <p>
                    En el mundo competitivo del deporte, Blue Lock destaca por su enfoque crudo en los egos de sus personajes. Este anime presenta a jugadores dispuestos a todo para convertirse en el mejor delantero de Japón. Más que un anime deportivo tradicional, ofrece introspecciones sobre ambición y la presión de destacarse en un mundo implacable.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3 bg-primary-500">
        <div class="card flex justify-content-center">
            <p-card header="Demon Slayer: El Camino del Pilar del Amor" subheader="" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://somoskudasai.com/wp-content/uploads/2022/05/portada_spy-x-family-64.jpg" />
                </ng-template>
                <p>
                    Con el arco del Distrito Rojo aún fresco en la mente de los fanáticos, Demon Slayer nos trae otra historia cargada de emociones en su nueva temporada. Tanjirō y sus amigos se enfrentan a amenazas cada vez más intensas, mientras la animación sigue dejando al público sin aliento. La serie sigue consolidándose como una obra maestra de la animación moderna.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3 bg-black-alpha-60">
        <div class="card flex justify-content-center">
            <p-card header="My Hero Academia: El Auge y la Caída de los Héroes" subheader="" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://i.blogs.es/3194cd/one-piece/500_333.jpeg" />
                </ng-template>
                <p>
                    Esta temporada de My Hero Academia ha explorado los desafíos más oscuros para Deku y sus compañeros. Con los villanos organizados y una sociedad que duda de sus héroes, las apuestas son más altas que nunca. La serie no solo muestra espectaculares enfrentamientos, sino que también destaca el peso emocional de ser un símbolo de esperanza en tiempos difíciles.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3 bg-green-700">
        <div class="card flex justify-content-center">
            <p-card header="Chainsaw Man: Sangre, Acción y Surrealismo" subheader="" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://www.anmosugoi.com/wp-content/uploads/2024/06/Dandadan-Momo-Ayase-min-1.webp" />
                </ng-template>
                <p>
                    Pocos animes han tenido un impacto cultural tan inmediato como Chainsaw Man. Con Denji enfrentando demonios literales y metafóricos, la serie combina escenas de acción impactantes con momentos cómicos y profundamente humanos. Su estilo visual único y narrativa audaz lo convierten en una joya ineludible para los fans de historias impredecibles.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3 bg-yellow-900">
        <div class="card flex justify-content-center">
            <p-card header="Jujutsu Kaisen: El Pasado de Gojo y la Batalla por el Futuro" subheader="" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://i0.wp.com/codigoespagueti.com/wp-content/uploads/2024/07/ranma-1-2-proyeccion-especial-nyc-2024.jpg" />
                </ng-template>
                <p>
                    La temporada actual de Jujutsu Kaisen ha desvelado la historia de Satoru Gojo y Suguru Geto, una amistad que define la trama principal. A través de increíbles peleas y momentos emocionales, la serie sigue siendo un estándar de calidad tanto en escritura como en animación, consolidándose como un gigante del género shōnen.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3 bg-cyan-800">
        <div class="card flex justify-content-center">
            <p-card header="Mushoku Tensei: Segunda Oportunidad y Redención" subheader="" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://c4.wallpaperflare.com/wallpaper/318/921/156/evangelion-neon-genesis-evangelion-evangelion-unit-01-rei-ayanami-sachiel-neon-genesis-evengelion-hd-wallpaper-preview.jpg" />
                </ng-template>
                <p>
                    Jobless Reincarnation continúa explorando la vida de Rudeus Greyrat en un mundo de fantasía. La combinación de fantasía épica con un desarrollo de personajes íntimo ha cautivado a los espectadores. La atención al detalle en su narrativa y animación eleva la experiencia, convirtiéndolo en una joya imprescindible para los amantes de los isekai.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
    
</div>
